@media screen and (min-width:576px) {

    .my_pt-sm-6 {
        padding-top: 6rem;
    }

    .my_container-sm {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media screen and (min-width:768px) {

    .my_pt-md-8 {
        padding-top: 8rem;
    }

    .w-md-75 {
        width: 75% !important;
    }
}

@media screen and (min-width:992px) {

    .hamburger-menu {
        display: none;
    }

    .link-container {
        display: flex;
        justify-content: space-between;
    }

    .my_pt-lg-10 {
        padding-top: 10rem;
    }

    .logo {
        display: none;
    }

}