@media screen and (min-width:576px) {

    .my_pt-sm-6 {
        padding-top: 6rem;
    }
}

@media screen and (min-width:768px) {

    .my_pt-md-8 {
        padding-top: 8rem;
    }

    .w-md-75 {
        width: 75% !important;
    }

    .w-md-15 {
        width: 15% !important;
    }
}

@media screen and (min-width:992px) {

    .my_pt-lg-10 {
        padding-top: 10rem;
    }

}